<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>

body {
  /* background-color: #E9FBFF; */
  background-color: #7a7a7a
}

input { margin-bottom: 10px; }

.login {float: right; margin: 4px;}

.button{
  border: none;
  color: rgb(112, 112, 112);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button2 {
  /* background-color: #00D1FF; */
  background-color: #ffffff
} /* Blue */

.button2 {float: right; margin: 4px;}

.topnav {
  overflow: hidden;
  /* background-color: #83E9FF; */
  background-color: #3d3d3d

}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: left;
  padding: 12px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.home-button{float: right; margin: 4px;}


p-button {
  display: inline-block;
  }

/* mouse over link */
#light-blue-tags:hover {
opacity: .4;
}

.arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#title-tags:hover {
  opacity: .4;
}

#book-listings{
border-radius: 0px;
margin: 15px;
padding: 50px; 
background: #ffffff;
width: 1000px;
height: 2000px;  
}

#book-entry{
border-radius: 0px;
margin: 25px;
padding: 100px; 
background: #888787;
width: 800px;
height: 500px;  
}

#book-image{
border-radius: 0px;
margin: 5px;
padding: 100px; 
background: #555555;
width: 100px;
height: 300px;  
}

h-entry{
position: relative;
bottom:75px;
left: 150px;
text-align: right
}   

#title-tags {
  border-radius: 35px;
  /* background: #BEF3FF; */
  background: #ffffff;
  padding: 10px; 
  width: 50px;
  height: 30px;  
}

div.tags{
  position: relative;
  left: 150px;
  bottom: 80px;
  height: 500px;
  width: 500px;
}


</style>

</head>
    <h1> QuicFic </h1>
        <div class = home-button>
            <a href="https://a5-alan-angel.herokuapp.com/">
            <img border="0" alt="W3Schools" src="images/home-button.PNG" width="100" height="70">
        </a>
        </div>
        <div class = login>
        <form action = "http://www.example.com/login/" method = "post">
            <label for="username">Username:</label>
            <input type = "text" name="username"
                required="required" /> <br />
                <label for="password">Password:</label>
                <input type ="password" name="password" required="required" />
                <input type="submit" value="Submit" />
        </form>
    </div>
</head>


<body>

    
<!-- Navigation -->
<nav class="w3-bar w3-black">
    <div class="dropdown">
        <p>
        <button class="button "> Applied Tags</button>
        <i class="arrow down"></i>
        </p>
    </a>
    </div>
</nav>

<div id = "book-listings">
    
    <div id = "book-entry">
        <div id = "book-image">
            <h-entry style= "font-size: 40px"> Title </h-entry>
            <div class = "tags">
                <a href="https://google.com">
                    <p-button id="title-tags"></p-button>
                    <p-button id="title-tags"></p-button>
                    <p-button id="title-tags"></p-button>
                    <p-button id="title-tags"></p-button>
                    <p-button id="title-tags"></p-button>
                </a>
            </div>
        </div>
    </div>
    <div id = "book-entry">
        <div id = "book-image">
            <h-entry style= "font-size: 40px"> Title </h-entry>
            <div class = "tags">
                <a href="https://google.com">
                    <p-button id="title-tags"></p-button>
                    <p-button id="title-tags"></p-button>
                    <p-button id="title-tags"></p-button>
                    <p-button id="title-tags"></p-button>
                    <p-button id="title-tags"></p-button>
                </a>
            </div>
        </div>
    </div>
    <div id = "book-entry">
        <div id = "book-image">
            <h-entry style= "font-size: 40px"> Title </h-entry>
            <div class = "tags">
                <a href="https://google.com">
                    <p-button id="title-tags"></p-button>
                    <p-button id="title-tags"></p-button>
                    <p-button id="title-tags"></p-button>
                    <p-button id="title-tags"></p-button>
                    <p-button id="title-tags"></p-button>
                </a>
            </div>
        </div>
    </div>

 <!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery.js"></script>
</body>
</html>
